<!DOCTYPE html>

<html>

<head>
  <title>Timestamp Microservice | freeCodeCamp.org</title>
  <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <main>
    <h2>Timestamp Microservice</h2>
    
    Valid date request to <b><i>/api/:date?</i></b> will return a JSON object with Unix timestamp and date and time in UTC.
 <br><br>
       
    <div class="outlinediv">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Example Usage:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="api/2015-12-25">[project url]/api/2015-12-25</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="api/1451001600000">[project url]/api/1451001600000</a>
              </td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th>Example Output:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>

  <p> Source code <a href="https://github.com/pikapipipi/boilerplate-project-timestamp">HERE</a> by <a href="https://pikapipipi.github.io/">pikapipipi</a>
  </p>

  <p>
      This is a self-learning mini-project from <a
        href="https://www.freecodecamp.org/learn/back-end-development-and-apis/back-end-development-and-apis-projects/timestamp-microservice">freeCodeCamp.org</a>
  </p>
</body>

</html>
